.left {
    position: relative;
    width: 100%;
    height: 100%;
}

.center {
    position: relative;
    width: 100%;
    height: 100%;
}

.right {
    position: relative;
    width: 100%;
    height: 100%;
}

.image1,.image2,.image3 {
    border-radius: 8px;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

.txt1,.txt2,.txt3{
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
} 

.left:hover .middle {
    opacity: 1;
}
.left:hover .image1{
    opacity: 0.3;
}

.center:hover .middle {
    opacity: 1;
}
.center:hover .image2{
    opacity: 0.3;
}

.right:hover .middle {
    opacity: 1;
}
.right:hover .image3{
    opacity: 0.3;
}

.DOWN:hover .middle {
    opacity: 1;
}

.intro-2 {
    background: url("pislo.jpg")no-repeat center center;
    background-size: cover;
}
.jumbotron{
    width: 100%;
    height: 50%;
}

.masthead{
    height: 100vh;
    min-height: 500px;
    background-image: url('pislo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mastheadrifle{
    height: 100vh;
    min-height: 500px;
    background-image: url('rilflelo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mastheadipsc{
    height: 100vh;
    min-height: 500px;
    background-image: url('ipsclo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box{
    width: 50%;
    height: 50%;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0.5;
    border-radius: 50px;
}

.h1pistol{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 108px;
}
.ppistol{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.img{
    width: 100%;
    height: 600px;
}