@import url('https://fonts.googleapis.com/css?family=Athiti:600&display=swap');
body{
    background-image:url("http://www.bhmpics.com/wallpapers/cartridge_belt_ammo-2048x1152.jpg");
    background-attachment: fixed;
    font-family: 'Athiti', sans-serif;    
}
.all{
    width: auto;
    height: auto;

}
.home{
    margin: auto;
    width: 50%;
    height: 50%;
}
.imgtop{
    border-radius: 8px;
    display: block;
    filter: alpha(opacity=50);
    margin: auto;
}
.manu{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0px;
    font-size: 20px;
    margin: auto;
    width: 90%;
    height: 5%;
    text-align:center;
    border:solid rgb(88, 88, 88) 3px;
}


.left {
    float:left;
    width:33.33%;
    height: 100%;
    position: relative;
    background-color: rgb(148, 147, 147);
    text-align:center ;
    
}
.left:hover,.center:hover,.right:hover{
    background-color:rgb(202, 200, 200);
    color: rgb(139, 139, 139);
}

.center {
    display: inline-block;
    margin:0 auto;
    width:33.33%;
    height: 100%;
    position: relative;
    background-color: rgb(148, 147, 147);
    text-align:center ;
}

.right {
    float:right;
    width:33.33%;
    height: 100%;
    position: relative;
    background-color: rgb(148, 147, 147);
    text-align:center ;
}



.txt1{
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 5px 32px;
    
}

.con{
    margin: auto;
    background-color:hsl(0, 0%, 100%,.6);
    border-radius: 20px;
    width: 70%;
    height: auto;
}
.g1{
    color:black;
    
}
#pistl{
    height:40%;
    width:40%;
    margin:50px 30%;
    border: solid rgb(88, 88, 88) 3px;
}
h1{
    text-align: center;
    font-size: 40px;
}
p{
    text-align: center;
    font-size: 30px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 50px;
}

.middle{
    transition: 1s ease;
    position: absolute;
    opacity: 0.5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.left:hover .middle {
    opacity: 1;
}

.center:hover .middle {
    opacity: 1;
}

.right:hover .middle {
    opacity: 1;
}