#slide{
    background-color: darkorange;
    box-shadow: 10px 10px 50px gray;
}
.left {
    position: relative;
    width: 100%;
    height: 100%;
}

.img{
    width:100%;
    height:500px;
}

.center {
    position: relative;
    width: 100%;
    height: 100%;
}

.right {
    position: relative;
    width: 100%;
    height: 100%;
}

.image1,.image2,.image3 {
    border-radius: 8px;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

.txt1,.txt2,.txt3{
    background-color: darkorange;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    padding: 16px 32px;
}

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
} 

.left:hover .middle {
    opacity: 1;
}
.left:hover .image1{
    opacity: 0.3;
}

.center:hover .middle {
    opacity: 1;
}
.center:hover .image2{
    opacity: 0.3;
}

.right:hover .middle {
    opacity: 1;
}
.right:hover .image3{
    opacity: 0.3;
}

.DOWN:hover .middle {
    opacity: 1;
}

.intro-2 {
    background: url("pislo.jpg")no-repeat center center;
    background-size: cover;
}

.masthead{
    height: 100vh;
    min-height: 500px;
    background-image: url('../pislo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.box{
    width: 50%;
    height: 50%;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0.5;
    border-radius: 50px;
}

.h1pistol{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 108px;
}
.navbar{
    background: darkorange;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
}
li a{
    display: block;
    color: darkorange;
    text-align: center;
    padding: 15px 290px;
    text-decoration: none;
    float: left;
    font-size: 20px;
}
li a:hover{
    background-color: #111;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(43, 42, 42);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
    border:solid rgb(43, 42, 42) 2px;
  }
  
  #myBtn:hover {
    background-color:darkorange;

}
.img{
    width: 100%;
    margin: auto;
}
  


.container1 {
	width: 80%;
    margin: 0 auto;
    background-color: darkorange;
}

header {
  background: darkorange;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul2 {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav b {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

nav b:hover {
  color: #000;
}

nav b::before {
  content: '';
  display: block;
  height: 5px;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav b:hover::before {
  width: 100%;
}

.dropbtn {
    background-color:darkorange;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    font-weight: lighter;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color:#f1f1f1;
    color: darkorange;
}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {
    background-color: darkorange;
    color:black;
}